@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@mixin giant {
    font-size: 128px;
    font-weight: 600;
    line-height: 135.68px;

    @media screen and (max-width: 1250px) {
        font-size: 100px;
        line-height: 128px;
    }
}

@mixin large {
    font-size: 96px;
    font-weight: 600;

    @media screen and (max-width: 1250px) {
        font-size: 60px;
        line-height: 65px;
    }

    @media screen and (max-width: 800px) {
        font-size: 40px;
        line-height: 45px;
    }
}

@mixin big {
    font-size: 64px;
    font-weight: 600;
    line-height: 67.84px;

    @media screen and (max-width: 1250px) {
        font-size: 40px;
        line-height: 45px;
    }
}

@mixin medium {
    font-size: 48px;
    font-weight: 600;

    @media screen and (max-width: 1250px) {
        font-size: 32px;
        line-height: 37px;
    }
}

@mixin small {
    font-family: Outfit;
    font-size: 36px;
    font-weight: 500;
    line-height: 45.36px;

    @media screen and (max-width: 1250px) {
        font-size: 24px;
        line-height: 30px;
    }
}

@mixin smaller {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;

    @media screen and (max-width: 1250px) {
        font-size: 16px;
        line-height: 20px;
    }
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(2080px);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    font-family: 'Outfit';
}


body {
    background-color: #181818;
}

.division {
    height: 100px;
}

.highlighted {
    font-weight: 500;
    position: relative;
    z-index: 2;

    &::before {
        position: absolute;
        content: "";
        left: -2%;
        top: 15%;
        height: 100%;
        width: 105%;
        background-size: cover;
        background-image: url(img/pill.svg);
        z-index: -1;
        background-repeat: no-repeat;
        
    }
}

.hidden-links {
    display: none;
}

.accept-button {
    height: 57px;
    text-decoration: none;
    border-radius: 16px;
    background-color: #954CED;
    color: white;
    padding: 16px 30px 16px 30px;
    font-size: 20px;
    line-height: 25.2px;
}

.contact-button {
    width: 182px;
    height: 57px;
    text-decoration: none;
    border-radius: 16px;
    background-color: #954CED;
    color: white;
    padding: 16px 30px 16px 30px;
    font-size: 20px;
    line-height: 25.2px;
}

.menu-chosen {
    div {
        background-color: #181818;

        h4 {
            color: white;
        }
    }

}

.menu {
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: -100vw;
    background-color: #181818;
    z-index: 6;
    padding: 16px;
    transition: all .3s ease;

    &.opened {
        left: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 100px;
    }

    &__criss {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px !important;
        width: 40px !important;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__links {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
            text-decoration: none;
        }
    }
}

.close-criss {
    background-image: url(img/criss.svg);
    height: 20px;
    width: 20px;
}

.cookies {
    position: fixed;
    width: 100vw;
    z-index: 5;
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0;
    padding: 30px;

    &__body {
        position: relative;

        &__criss {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        &__buttons {
            display: flex;
            gap: 20px;

            & .deny-button {
                border: 2px solid #954CED;
                text-decoration: none;
                padding: 16px 30px;
                color: black;
                border-radius: 16px;
                font-size: 20px;
            }

            & .contact-button {
                width: auto;
            }
        }

        max-width: 1285px;
        background-color: #fff;
        border-radius: 16px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        p {
            max-width: 783px;
            color: black;
            font-weight: 200;
        }
    }
}

.modal {
    position: fixed;
    height: 100vh;
    display: none;
    flex-grow: 1;

    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    z-index: 10;

    &__body {
        &__submit-button {
            &.inactive {
                background-color: #B9B9B9;
            }
        }

        &__criss {

            position: absolute;
            right: 19px;
            top: 19px;
        }

        small {
            color: #EC1211;
            display: none;
        }

        strong {
            color: #EC1211;
            display: none;
            margin-top: 20px;
        }

        label {
            color: black;
            margin-bottom: 4px;
            position: relative;


        }

        input {
            border: 1px solid #f1f1f1;
            padding: 9px 16px;
            border-radius: 14px;
            color: black;
            position: relative;

            &.invalid-error {
                border: 1px solid #EC1211;

            }

        }

        &__inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            &__label-container {
                position: relative;
                display: flex;
                justify-content: start;

                &.req {
                    &::after {
                        margin-left: 2px;
                        content: "*";
                        color: #EC1211;
                        height: 22px;
                        width: 48px;
                        //styleName: Body/B3_Medium_14;
                        font-family: Outfit;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        text-align: left;

                    }
                }


            }
        }

        &.modal-success {
            display: flex;
            align-items: center;

            img {
                width: 248px;
                height: 205px;
            }

            p {
                text-align: center;
            }

            h2 {
                @include medium();
                text-align: center;
                color: #A64CED;
                text-align: center;
                margin-top: 20px;

            }

            a {
                width: 100%;
                text-align: center;
            }
        }

        display: flex;
        flex-direction: column;
        position: relative;
        padding: 40px;
        background-color: #fff;
        max-width: 417px;
        max-height: 100vh;
        margin: 57px 20px;
        overflow: hidden;
        border-radius: 20px;

        p {
            margin: 20px 0;
            color: black;
            @include smaller();

            a {
                color: #954CED;

            }
        }
    }
}

.top {
    &__menu {
        display: flex;
        background: #FFAA4C;
        padding-left: 60px;
        height: 38px;
        overflow: hidden;

        &__item {

            &__body {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px 40px;
                background: #FFAA4C;
                border-radius: 20px 20px 0 0;
                text-align: center;

                h4 {
                    color: black;
                    font-family: Outfit;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-align: center;

                }
            }

            background-color: #ffffff00;
            list-style: none;

        }
    }



    &__body {
        height: 662px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 140px 110px;

        &__contact {
            position: absolute;
            top: 0;
            left: 0;
            padding: 11px 60px;
            height: 71px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & .burger-menu {
                display: none;
            }
        }

        &__image {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;

            img {
                height: 560px;
                width: auto;
            }
        }

        &__text {
            width: 671px;
            position: relative;
            z-index: 2;

            h1,
            p {
                color: white;
            }

            h1 {
                @include large;
                line-height: 101.76px;
            }

            p {
                @include smaller();
                margin-top: 20px;
                margin-bottom: 40px;
                padding-right: 137px;
            }
        }
    }
}

.about {
    height: 953px;
    position: relative;
    padding: 0 60px;
    & .highlighted {
        &::before {
            width: 110%;
            background-size: contain;
        }
    }
    &__container {
        max-width: 1440px;
        margin: 0 auto;
    }

    &__header {
        margin-bottom: 80px;
        font-family: Outfit;
        @include large();
        line-height: 101.76px;
        text-align: left;

    }

    &__contents {
        display: flex;
        justify-content: space-between;

        h3 {
            width: 410px;
            //styleName: Subtitle/S1_SemiBold_36;
            font-family: Outfit;
            @include small();
            line-height: 45.36px;
            text-align: left;

        }

        &__image {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &__list {
            list-style: none;
            display: grid;
            justify-content: space-between;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 70px;
            max-width: 712px;

            &__item {
                &__img {
                    height: 100px;
                    width: 100px;
                }

                h4 {
                    //styleName: Title/T4_Bold_48;
                    font-family: Outfit;
                    @include medium();
                    line-height: 50.88px;
                    text-align: left;
                    margin-bottom: 20px;
                }

                p {
                    //styleName: Subtitle/S3_Regular_24;
                    font-family: Outfit;
                    font-size: 23px;
                    font-weight: 200;
                    line-height: 28.8px;
                    text-align: left;
                }
            }
        }
    }
}

.phone {
    height: 636px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &__bg-text {
        position: absolute;
        padding: 46px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 68px;
        height: 100%;
        width: 200%;
        overflow: hidden;

        &__row-1 {
            text-wrap: nowrap;
            animation: infinite loop 20s;
            animation-timing-function: linear;
            display: flex;
            gap: 30px;
        }

        &__row-2 {
            text-wrap: nowrap;
            animation: infinite loop 20s reverse;
            animation-timing-function: linear;
            display: flex;
            gap: 30px;
        }

        &__row-3 {
            text-wrap: nowrap;
            animation: infinite loop 20s;
            animation-timing-function: linear;
            display: flex;
            gap: 30px;
        }

        & b {
            //styleName: Title/T1_Bold_128;
            font-family: Outfit;
            @include giant();
            text-align: left;
            text-transform: capitalize;
            text-shadow: 2px 0 0 #444444, 0 2px 0 #444444, -2px 0 0 #444444, 0 -2px 0 #444444;
            color: #181818;

            &.green {
                color: #2FDBBC;
                text-shadow: none;

            }

            &.purple {
                color: #954CED;
                text-shadow: none;

            }

            &.orange {
                color: #FFAA4C;
                text-shadow: none;

            }
        }
    }

    &__contents {
        position: relative;
        height: 100%;
        width: 308px;

        img,
        video {
            position: absolute;
        }

        img {
            z-index: 2;
            height: 636px;
            width: 308px;
            top: 0;
        }

        video {
            z-index: 1;
            height: 620px;
            width: 308px;
            border-radius: 65px;
            top: 5px;
        }
    }
}


.growth {
    background-color: #954CED;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px 350px;

    h4 {
        //styleName: Title/T3_Bold_64;
        font-family: Outfit;
        @include big();
        text-align: left;
        margin-bottom: 16px;

    }

    p {
        //styleName: Subtitle/S2_SemiBold_24;
        font-family: Outfit;
        font-size: 24px;
        font-weight: 500;
        line-height: 28.8px;
        text-align: left;

    }
}

.why {
    padding: 100px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;

        h2 {
            //styleName: Title/T3_Bold_64;
            font-family: Outfit;
            @include big();
            line-height: 67.84px;
            text-align: center;
            margin-bottom: 20px;
        }

        h3 {
            //styleName: Subtitle/S1_SemiBold_36;
            font-family: Outfit;
            @include small();
            line-height: 45.36px;
            text-align: center;
        }

        strong {
            //styleName: Subtitle/S1_SemiBold_36;
            font-family: Outfit;
            @include small();
            font-weight: 600;
            line-height: 45.36px;
            align-self: center;

        }
    }

    &__blocks {
        display: grid;
        grid-template-areas:
            "fi fi fi se se"
            "th th fo fo fo";
        gap: 20px;

        &__item {
            background-color: #fff;
            border-radius: 30px;
            display: flex;
            height: 362px;
            position: relative;
            overflow: hidden;

            &__text {
                padding: 40px;

            }



            h4,
            p {
                color: black;
            }

            h4 {
                //styleName: Title/T5_SemiBold_48;
                font-family: Outfit;
                @include medium();
                line-height: 60.48px;
                text-align: left;
                margin-bottom: 20px;
            }

            p {
                //styleName: Subtitle/S6_Regular_20;
                font-family: Outfit;
                @include smaller();
                font-weight: 400;
                line-height: 24px;
                text-align: left;
            }

            &.gamification-item {
                grid-area: fo;

                & .why__blocks__item__text {
                    padding-right: 318px;
                }

                & img {
                    position: absolute;
                    bottom: 0;
                    right: 43px;
                }
            }

            &.influencers-item {
                grid-area: fi;

                & .why__blocks__item__text {
                    padding-left: 318px;
                }

                img {
                    &.alter-img {
                        display: none;
                    }

                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }

            &.cashback-item {
                grid-area: th;

                & .why__blocks__item__text {
                    padding-right: 57px;
                    padding-bottom: 50px;

                    & p {
                        padding-right: 132px;
                    }
                }

                & img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

            &.bulk-item {
                grid-area: se;

                & .why__blocks__item__text {
                    padding-right: 91px;
                }

                & img {
                    position: absolute;

                    &.img {
                        &-1 {
                            right: 0;
                            top: 80px;
                        }

                        &-2 {
                            right: 60px;
                            bottom: 0;
                        }

                        &-3 {
                            bottom: 0;
                            left: 72px;
                        }
                    }
                }
            }
        }
    }
}

.brands {
    background-color: #fff;
    padding: 100px 60px;

    h1,
    h2,
    h3,
    h4,
    p {
        color: black;
    }

    &__frame {
        border: 1px solid #CFCFCF;
        border-radius: 60px;
        padding: 60px 0 45px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            //styleName: Title/T3_Bold_64;
            font-family: Outfit;
            @include big();
            font-weight: 600;
            line-height: 67.84px;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    &__text {
        max-width: 1440px;
        margin: 0 auto;

        &__body {
            max-width: 822px;

            h1 {
                //styleName: Title/T2_Bold_96;
                font-family: Outfit;
                @include large();
                font-weight: 600;
                text-align: left;

            }

            p {
                //styleName: Subtitle/S6_Regular_20;
                font-family: Outfit;
                @include smaller();
                font-weight: 300;
                line-height: 24px;
                text-align: left;
                margin-right: 285px;
            }
        }

        display: flex;
        justify-content: space-between;

        &__media-logos {

            height: 100%;
            padding: 45px 0 35px 33px;
            display: grid;
            grid-template-areas:
                "fb f1 inst f2"
                "f3 tw f4 tt";
            column-gap: 40px;

            &__item {
                height: 90px;
                width: 90px;

                & .filler {
                    &-1 {
                        grid-area: f1
                    }

                    &-2 {
                        grid-area: f3
                    }

                    &-3 {
                        grid-area: f3
                    }

                    &-4 {
                        grid-area: f4
                    }
                }

                &.fb {
                    background-image: url(img/facebook.svg);
                    grid-area: fb
                }

                &.tw {

                    background-image: url(img/twitter.svg);
                    grid-area: tw
                }

                &.tt {

                    background-image: url(img/tiktok.svg);
                    grid-area: tt
                }

                &.inst {

                    background-image: url(img/instagram.svg);
                    grid-area: inst
                }
            }

        }
    }

    &__logos {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.footer {
    &__body {
        padding: 40px 60px 20px 60px;

        &__links {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            &__menu {
                display: flex;
                gap: 20px;

                a {
                    //styleName: Subtitle/S5_Medium_20;
                    font-family: Outfit;
                    @include smaller();
                    font-weight: 400;
                    line-height: 25.2px;
                    text-align: center;
                    text-decoration: none;
                }
            }

            &__buttons {
                a {
                    margin-right: 40px;
                }

                display: flex;
                gap: 20px;
            }

            &__logo {}
        }

        &__copyright {
            display: flex;
            justify-content: space-between;
            border-top: 2px solid #444444;
            padding-top: 20px;

            p {
                color: #B9B9B9;
                font-size: 200;
            }

            &__links {
                list-style: none;
                display: flex;
                gap: 20px;

                a {
                    color: #B9B9B9;
                    font-size: 200;
                }
            }
        }
    }
}

@media screen and (max-width: 1435px) {
    .top {
        &__body {
            &__image {
                img {
                    height: 450px;
                }
            }
        }
    }

    .why {
        &__blocks {
            display: flex;
            flex-direction: column;

            &__item {
                max-width: 800px;
            }
        }
    }

}

@media screen and (max-width: 1250px) {
    .top__body__text {
        max-width: 500px;
    }

    .footer {
        &__body {
            &__links {
                display: flex;
                align-items: start;
                gap: 30px;

                &__menu {
                    margin-top: 10px;
                }

                &__buttons {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    a {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .modal {
        overflow-y: auto;

        p {
            font-size: 14px;
        }
    }

    .growth {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;

        &__item {
            gap: 20px;

            & h4 {
                text-align: center;
                margin-bottom: 0;
            }

            p {
                width: max-content;
            }
        }
    }

    .about {
        height: auto;
        padding: 0 16px 20px 16px;

        &__header {
            text-align: center;
        }

        &__contents {
            flex-direction: column;
            align-items: center;
            gap: 40px;

            &__image {
                svg {
                    height: 500px;
                    width: 500px;
                    opacity: 10%;
                }
            }
        }
    }

    .brands {
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__media-logos {
                padding: 0 16px;
                margin-top: 20px;
            }

            &__body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;


                h1 {
                    text-align: center;
                    font-size: 40px;
                }

                p {
                    text-align: center;
                    margin-right: 0;
                }
            }

        }

        &__logos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            &__item {
                display: flex;
                justify-content: center;

                img {
                    max-width: 140px;
                }
            }
        }
    }

}

@media screen and (max-width: 1000px) {
    .division {
        height: 40px;
    }

    .top {
        &__body {
            & img {
                height: 350px;
            }
        }
    }

    .brands {
        &__logos {
            &__item {
                svg {
                    max-width: 150px;
                }
            }
        }

        &__text {
            &__media-logos {
                &__item {
                    height: 64px;
                    width: 64px;
                    background-size: contain;
                }
            }
        }
    }

    .cookies {
        padding: 20px;
    }

    .growth {
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: flex-start;
        padding: 30px 100px;

        &::after {
            content: "";
            background-image: url(img/arrow.svg);
            background-size: contain;
            height: 250px;
            width: 300px;
            opacity: 0.1;
            filter: invert(1);
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .footer {
        &__body {
            &__copyright {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .brands {
        padding: 40px 16px;
    }

    .growth {
        padding: 40px 20px;

        p {
            font-size: 20px;
            line-height: 22px;
        }

        &::after {
            display: none;
        }
    }

    .about {
        &__header {
            margin-bottom: 20px;
            font-size: 40px;
            text-align: left;
        }

        &__contents {
            h3 {
                align-self: flex-start;
                max-width: 268px;
            }

            P {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    .top {
        &__body {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 122px 0 0 0;

            &__contact {
                padding: 16px;
                align-items: center;

                svg {
                    height: 39px;
                    width: 124px;
                }

                & .contact-button {
                    display: none;
                }

                & .burger-menu {
                    display: block;

                    img {
                        height: 20px;
                    }
                }
            }

            &__text {
                padding: 0px 16px 0 16px;
                max-width: 350px;
                align-self: flex-start;

                p {
                    padding-right: 0;
                    max-width: 350px;
                }
            }

            &__image {
                position: relative;
                align-self: flex-end;
            }
        }
    }

}

@media screen and (max-width: 700px) {
    .about {
        &__contents {
            &__list {
                display: flex;
                flex-direction: column;
                gap: 60px;
            }

            &__image {
                display: none;
            }
        }
    }

    .cookies {
        &__body {
            &__buttons {
                width: 100%;
                flex-direction: column;
                gap: 20px;

                a {
                    text-align: center;
                }
            }
        }

    }

    .brands {
        &__frame {
            padding: 40px 20px;
        }

        &__text {
            &__body {
                h1 {
                    font-size: 40px;
                    line-height: 45px;
                }
            }
        }
    }

    .footer {
        &__body {
            padding: 20px 16px;

            &__links {
                flex-direction: column;
                gap: 16px;

                &__menu {
                    flex-direction: column;
                    align-items: flex-start;

                    & .hidden-links {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16px;
                    }

                    margin-bottom: 24px;
                }

                & .contact-button {
                    margin-bottom: 24px;
                }
            }

            &__copyright {
                &__links {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .why__header {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .brands {

        &__text {
            &__media-logos {
                gap: 20px;
            }
        }
    }

    .top {
        &__menu {
            padding: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .why {
        padding: 40px 16px;

        &__blocks {
            &__item {
                max-width: 343px;

                h4 {
                    line-height: 33px;
                }

                &.influencers-item {
                    height: 395px;

                    .why__blocks__item__text {
                        padding: 20px;
                        height: min-content;
                    }

                    img {
                        display: none;

                        &.alter-img {
                            display: inline;
                        }

                    }
                }

                &.bulk-item {
                    height: 333px;

                    img {
                        &.img-1 {
                            height: 120px;
                            right: 0;
                            top: 60%;
                        }

                        &.img-2 {
                            height: 95px;
                            right: 100px;
                        }

                        &.img-3 {
                            left: 20px;
                            height: 64px;
                        }
                    }

                    .why__blocks__item__text {
                        padding: 20px;
                        height: min-content;
                    }
                }

                &.cashback-item {
                    height: 313px;

                    .why__blocks__item__text {
                        padding: 20px;
                        height: min-content;

                        p {
                            padding-right: 0;
                        }
                    }
                }

                &.gamification-item {
                    height: 395px;

                    img {
                        height: 185px;
                    }

                    .why__blocks__item__text {
                        padding: 20px;
                        height: min-content;

                    }
                }
            }
        }
    }
}